.js-window {
  font-family: sans-serif;
  letter-spacing: 1.5px;

  position: fixed;
  border: 2px outset;
  background-color: Gainsboro;

  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.js-window-title {
  height: 16px;
  padding: 2px 4px;

  display: flex;

  color: white;
  font-size: 11px;
  line-height: 1.6;
  font-weight: bold;

  /* Prevent the text from wraping, just cut it as it overflows */
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;

  /* Unfocused gradient with a background color fallback */
  background: rgba(123,123,123,1);
  background: -moz-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(123,123,123,1)), color-stop(100%, rgba(173,173,173,1)));
  background: -webkit-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: -o-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: -ms-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: linear-gradient(to right, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#adadad', GradientType=1 );
}

.js-window-title-focused {
  /* Foucsed gradient with a background color fallback */
  background: rgba(10,36,105,1);
  background: -moz-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,36,105,1)), color-stop(100%, rgba(166,203,240,1)));
  background: -webkit-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: -o-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: linear-gradient(to right, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2469', endColorstr='#a6cbf0', GradientType=1 );
}

.js-window-title-icon {
  background: url(../img/win-98_folder_icon_title.png) no-repeat 0 0;
  float: left;
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 4px;
}

.js-window-title-text {
  float: left;
  overflow: hidden;
  flex: 1 1 auto;
}

.js-window-btn-close {
  float: right;
  background-image: url(../img/win-98_close_btn.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 1px;
  margin-left: 5px;
  width: 16px;
  min-width: 16px;
  height: 14px;
}

.js-window-pane {
  width: 100%;
  height: calc(100% - 20px);
  background-color: white;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.js-window-pane-item {
  background: url(../img/win-98_folder_icon_large.png) no-repeat 0 0;
  width: 32px;
  height: 26px;
  padding-top: 32px;
  margin: 5px;
  font-size: 9px;
  text-align: center;
  line-height: 0.9;
  letter-spacing: 0.4px;
  overflow: hidden;
  hyphens: auto;
}

.js-window-handle-n {
  cursor: ns-resize;
  position: absolute;
  left: 4px;
  top: -7px;
  width: calc(100% - 8px);
  height: 11px;
}

.js-window-handle-ne {
  cursor: nesw-resize;
  position: absolute;
  right: -7px;
  top: -7px;
  width: 11px;
  height: 11px;
}

.js-window-handle-e {
  cursor: ew-resize;
  position: absolute;
  right: -7px;
  top: 4px;
  width: 11px;
  height: calc(100% - 8px);
}

.js-window-handle-se {
  cursor: nwse-resize;
  position: absolute;
  right: -7px;
  bottom: -7px;
  width: 11px;
  height: 11px;
}

.js-window-handle-s {
  cursor: ns-resize;
  position: absolute;
  left: 4px;
  bottom: -7px;
  width: calc(100% - 8px);
  height: 11px;
}

.js-window-handle-sw {
  cursor: nesw-resize;
  position: absolute;
  left: -7px;
  bottom: -7px;
  width: 11px;
  height: 11px;
}

.js-window-handle-w {
  cursor: ew-resize;
  position: absolute;
  left: -7px;
  top: 4px;
  width: 11px;
  height: calc(100% - 8px);
}

.js-window-handle-nw {
  cursor: nwse-resize;
  position: absolute;
  left: -7px;
  top: -7px;
  width: 11px;
  height: 11px;
}