.js-window {
  position: fixed;
  border: 2px outset;
  background-color: Gainsboro;
  font-family: monospace;

  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.js-window-title {
  height: 16px;
  padding: 2px 6px;

  color: white;
  font-size: 12px;
  font-style: MS Sans Serif, sans-serif;

  /* Prevent the text from wraping, just cut it as it overflows */
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;

  /* Unfocused gradient with a background color fallback */
  background: rgba(123,123,123,1);
  background: -moz-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(123,123,123,1)), color-stop(100%, rgba(173,173,173,1)));
  background: -webkit-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: -o-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: -ms-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  background: linear-gradient(to right, rgba(123,123,123,1) 0%, rgba(173,173,173,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#adadad', GradientType=1 );
}

.js-window-title-focused {
  /* Foucsed gradient with a background color fallback */
  background: rgba(10,36,105,1);
  background: -moz-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,36,105,1)), color-stop(100%, rgba(166,203,240,1)));
  background: -webkit-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: -o-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  background: linear-gradient(to right, rgba(10,36,105,1) 0%, rgba(166,203,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2469', endColorstr='#a6cbf0', GradientType=1 );
}

.js-window-btn-close {
  float: right;
  color: #000;
  background-color: #ddd;
  padding: 0 3px;
  border: 1px outset;
}

.js-window-pane {
  width: 100%;
  height: calc(100% - 20px);
  background-color: white;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.js-window-pane-item {
  background: url(/img/folder_98_32x32.png) no-repeat 0 0;
  height: 32px;
  width: 32px;
}

